POSTGRES_DB=NOMBRE_DB
POSTGRES_USER=USUARIO_DB
POSTGRES_PASSWORD=CLAVE_DB
AES_SECRET_KEY=CLAVE_AES
JWT_SECRET=CLAVE_JWT
JWT_EXPIRATION=TIEMPO_EXP
TOTP_ISSUER=EMISOR_GOOGLE_AUTENTICATOR
DB_HOST=IP_SERVIDOR_DB
SUPERUSER_USERNAME=USUARIO_SUPERADMIN
SUPERUSER_PASSWORD=CLAVE_SUPERADMIN